.grid-pad .col-1-4 {
    display: inline-block;
    padding: 25px;
    width: 15%;
    text-align: center;
    background-color: #edf;
    margin: 15px 15px;
}
.grid.grid-pad {
    width: 60%;
    margin: auto;
}
h3 {
    text-align: center;
}

